$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;
$component-active-bg:       #484848 !default;
@import '_variables.scss';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '_bootswatch.scss';
@import '../node_modules/font-awesome/scss/font-awesome.scss';


html, body {
  background-color: black;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

header {
  display: none;
	height: 75px;
	min-height: 75px;
}

footer {
  height: 150px;
  min-height: 30px;
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
	overflow: hidden;
}

nav {
	width: 150px;
	min-width: 150px;
}

article {
	flex: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

aside {
	width: 150px;
	min-width: 150px;
	overflow-x: hidden;
	overflow-y: auto;
}

.splitter {
	border: solid #383737;
	border-width: 0 1px;
	width: 4px;
	min-width: 4px;
  background-color: #292929;
	cursor: col-resize;
}
.splitter.horizontal {
	border-width: 1px 0;
	height: 4px;
	min-height: 4px;
	width: auto;
	min-width: auto;
	cursor: row-resize;
}

#sidebar {
  background-color: #232222;
  overflow: auto;
}

#sidebar a {
  color: #fff;
}

#workspaces {
  display: flex;
}

#workspaces .workspace {
  position: relative;
  flex: auto;
}

#workspaces.editor #editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#processes {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#processes .control {
  height: 30px;
}

#processes .control {
  white-space: nowrap;
  max-width: 400px;
}

#processes .processes {
  flex: auto;
  display: flex;
  flex-direction: row;

  .list {
    width: 200px;
    &:empty {
      width: 0;
    }
    &:not(:empty) {
      min-width: 100px;
    }
  }

  .output {
    flex: auto;
  }
}

/*#processes .list form input {
  height: 26px;
  background-color: #484848;
  border: solid 1px #989898;
  padding: 0;
  text-indent: 15px;
  color: white;
  width: 200px;
}*/

/*#processes .list form::before {
  content: ">";
  position: absolute;
  left: 3px;
  top: 5px;
  font-size: small;
  color: #fff;
  font-weight: bold;
}*/

/*#processes .list ul {
  flex: auto;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

#processes .list li {
  display: inline-block;
}*/

#processes .output {
  flex: auto;
}

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

.triangle-left {
  right: 0;
  position: absolute;
}

.triangle-left::before {
  content: "\25C0";
  color: #666;
}

.circle::before {
  content: "\25CF";
}
.circle.alive::before {
  color: orange;
}
.circle.alive.active::before {
  color: green;
}
.circle.dead::before {
  color: red;
}

.icon-bar {
  background-color: #fff;
  height: 4px;
  display: block;
  margin-bottom: 2px;
}

/**
 * Tree view
 */
 .tree,
 .tree ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   overflow: hidden;
 }
 .tree li {
   margin: 0;
   padding: 2px 0 2px 12px;
   position: relative;
   white-space: nowrap;
 }
 .tree li a {
   text-decoration: none;
 }
 .tree li .expanded, .tree li .collapsed {
   position: absolute;
   font-size: 7px;
   left: 0;
   top: 4px;
   color: #666;
 }

 .tree span.name.icon.icon-file-text, .tree span.name.icon.icon-file-directory {
   position: absolute;
   top: -5px;
 }

 .tree span.name.icon.icon-file-directory {
   position: absolute;
   top: 2px;
 }

  .tree .name.icon.icon-file-directory:before {
      color: #3D9276;
      content: '\e613';
      display: inline-block;
      font-family: 'icomoon';
      font-size: 13px;
      position: relative;
      top: -1px;
      left: 0;
  }

  .file-name {
    padding-left: 16px;
  }
 .name.icon {
   text-decoration: none;
 }

 .name.icon::before {
   width: 20px;
   display: inline-block;
   height: 20px;
 }

 .name.icon span {
   margin-left: 4px;
   color: lightgray;
   vertical-align: top;
 }


 #recent ul li:hover .triangle-left {
   display: none;
 }

 #recent {
 }

 #recent .close {
   cursor: pointer;
   visibility: hidden;
   font-weight: normal;
   font-size: 10px;
   position: absolute;
   right: 5px;
 }

 #recent a:hover .close {
   visibility: visible;
 }

#recent .list-group-item {
  padding: 2px 4px;
}

#recent .name.icon:before {
  left: 0;
  top: 5px;
}

#recent span.name {
  font-size: small;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
