$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;
$component-active-bg:       #484848 !default;
@import '_variables.scss';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '_bootswatch.scss';
@import '../node_modules/font-awesome/scss/font-awesome.scss';
@import 'tree/index.scss';
@import 'recent/index.scss';
@import 'processes/index.scss';
@import 'file-menu/index.scss';
@import 'file-editor/index.scss';

html, body {
  background-color: black;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  // display: none;
	// height: 75px;
	// min-height: 75px;
	height: 0;
}

footer {
  height: 150px;
  min-height: 30px;
}

main {
	display: flex;
	flex-direction: row;
	flex: auto;
	overflow: hidden;
}

nav {
	width: 150px;
	min-width: 150px;
}

article {
	flex: auto;
	overflow-x: hidden;
	overflow-y: auto;
}

aside {
	width: 150px;
	min-width: 150px;
	overflow-x: hidden;
	overflow-y: auto;
}

.splitter {
	border: solid #383737;
	border-width: 0 1px;
	width: 6px;
	// min-width: 6px;
  background-color: #292929;
	cursor: col-resize;
  position: relative;

  .toggle {
    background-color: #888;
    width: 5px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 0;
    cursor: pointer;
    margin: -30px 0 0;
  }
}

.splitter.horizontal {
	border-width: 1px 0;
	height: 6px;
	// min-height: 6px;
	width: auto;
	min-width: auto;
	cursor: row-resize;

  .toggle {
    height: 5px;
    width: 60px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0 0 0 -30px;
  }
}

#sidebar {
  background-color: #232222;
  overflow: auto;
}

#sidebar a {
  color: #888;
}

#workspaces {
  display: flex;
}

#workspaces .workspace {
  display: none;
  position: relative;
  flex: auto;
}

#workspaces.welcome .workspace.welcome,
#workspaces.editor .workspace.editor {
  display: block;
}

#workspaces.editor #editor {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

.icon-bar {
  background-color: #fff;
  height: 4px;
  display: block;
  margin-bottom: 2px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}
