<div class="explorer-file-menu dropdown">
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" data-action="open">Open</a></li>
    <li class="divider"></li>
    <li><a href="#" data-action="rename">Rename</a></li>
    <li><a href="#" data-action="delete">Delete</a></li>
    <li class="run divider"></li>
    <li class="run"><a href="#" data-action="run" title="Run file and output to console">Run</a></li>
    <li class="run"><a href="#" data-action="runadvanced" title="Set debug and start options">Run + Debug</a></li>
    <li class="install divider"></li>
    <li class="install"><a href="#" data-action="install" title="Install package dependencies">Install</a></li>
  </ul>
</div>
<div class="explorer-dir-menu dropdown">
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" data-action="addfile">New File</a></li>
    <li><a href="#" data-action="adddir">New Folder</a></li>
    <li class="divider"></li>
    <li><a href="#" data-action="rename">Rename</a></li>
    <li><a href="#" data-action="delete">Delete</a></li>
  </ul>
</div>