<ul class="editor-toolbar">
  <li><a data-action="save" data-toggle="tooltip" title="Save"><i class="cus-disk"></i></a></li>
  <li><a data-action="saveall" data-toggle="tooltip" title="Save all"><i class="cus-disk-multiple"></i></a></li>
  <li class="sep"><a data-action="foldall" data-toggle="tooltip" title="Fold all"><i class="cus-bullet-arrow-up"></i></a></li>
  <li><a data-action="unfoldall" data-toggle="tooltip" title="Unfold all"><i class="cus-bullet-arrow-down"></i></a></li>
  <li class="sep"><a data-action="undo" data-toggle="tooltip" title="Undo"><i class="cus-arrow-undo"></i></a></li>
  <li><a data-action="redo" data-toggle="tooltip" title="Redo"><i class="cus-arrow-redo"></i></a></li>
  <li class="sep"><a data-action="find" data-toggle="tooltip" title="Find"><i class="cus-magnifier"></i></a></li>
  <li><a data-action="findreplace" data-toggle="tooltip" title="Find & Replace"><i class="cus-page-white-magnify"></i></a></li>
  <li class="sep"><a data-action="beautify" data-toggle="tooltip" title="Beautify"><i class="cus-text-padding-top"></i></a></li>
  <li><a data-action="validation" data-toggle="tooltip" title="Toggle validation"><i class="cus-layout-error"></i></a></li>
</ul>