#footer {
  bottom:0;
  height:350px;
  background-color: #303030;
}
#left {
  left:0;
  width:250px;
  position:absolute;
  top:0;
  bottom:0;
}
#main {
  position:absolute;
  left:250px;
  top:0;
  bottom:0;
  right: 0;
  background: url('../img/logo.png') center center no-repeat, url('../img/noise.png') #aaa;
}
#content {
  position:absolute;
  top:44px;
  left:0;
  bottom:350px;
  right:0;
}
#content > div {
  width: 100%;
  height: 100%;
}
#footer .accordion-group {
  border-color: #222;
}
#footer .accordion-heading {
  background-color: #222;
}
#footer .accordion-toggle {
  color: #ddd;
}
#alert {
  position: absolute;
  width: 90%;
  left: 5%;
  top: 2px;
  z-index: 10;
}
.splitter {
  background-color: #ccc;
  position: absolute;
}
.splitter .toggle {
  cursor: pointer;
  position: absolute;
  background-color: #555;
}
.split-x {
  cursor: col-resize;
  height: 100%;
  right: 0;
  top: 0;
  width: 8px;
}
.split-y {
  cursor: row-resize;
  height: 8px;
  left: 0;
  top: 0;
  width: 100%;
}
.split-x .toggle {
  height: 10%;
  top: 45%;
  width: 100%;
}
.split-y .toggle {
  width: 10%;
  left: 45%;
  height: 100%;
}
.splitter-resizing:before {
  content:"";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1000;
}