<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="{{meta.favicon}}">
    <title>{{meta.title}}</title>
    <meta name="description" content="{{meta.description}}">
    <meta name="author" content="{{meta.author}}">
    <meta name="keywords" content="{{meta.keywords}}">
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="/public/file-icons/index.css">
    <script src="/public/ace-builds/src/ace.js"></script>
    <script src="/public/ace-builds/src/ext-language_tools.js"></script>
    <script src="/public/ace-builds/src/ext-modelist.js"></script>
</head>
<body>
<header>
  <div id="file-menu"></div>
  <div id="file-editor"></div>
  {{> 'keyboard-shortcuts'}}
  <div hidden class="alert alert-warning alert-dismissible">
    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </div>
</header>
<main>
  <nav id="sidebar">
    <div id="tree">
    </div>
  </nav>
	<div id="sidebar-workspaces" class="splitter"></div>
	<article id="workspaces">
    <div class="workspace welcome">
      <h3 class="text-center">Hello there! <small>Open a file to start...</small></h3>
    </div>
    <div class="workspace editor">
      <div id="editor">
      </div>
    </div>
  </article>
	<div id="workspaces-info" class="splitter"></div>
	<aside id="info">
    <div id="recent">
    </div>
	</aside>
</main>
<div id="main-footer" class="splitter horizontal"></div>
<footer>
  <div id="processes">
  </div>
</footer>
<script src="/public/js/core.js"></script>
<script src="/public/js/index.js"></script>
</body>
</html>
