#processes {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#processes .control {
  display: flex;
  flex-direction: row;
  height: 30px;
  min-height: 30px;

  form {
    flex: auto;
    width: 300px;
    min-width: 400px;
    max-width: 600px;
    white-space: nowrap;
    border-right: 30px solid #282828;
  }

  ul.nav {
    flex: auto;
    white-space: nowrap;
    // overflow-x: scroll;
    // overflow-y: hidden;

    > li {
      // float: none;
      // display: inline-block;
    }

    a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}


#processes .processes {
  flex: auto;
  display: flex;
  flex-direction: row;
}

/*#processes .list form input {
  height: 26px;
  background-color: #484848;
  border: solid 1px #989898;
  padding: 0;
  text-indent: 15px;
  color: white;
  width: 200px;
}*/

/*#processes .list form::before {
  content: ">";
  position: absolute;
  left: 3px;
  top: 5px;
  font-size: small;
  color: #fff;
  font-weight: bold;
}*/

/*#processes .list ul {
  flex: auto;
  overflow-x: auto;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

#processes .list li {
  display: inline-block;
}*/

#processes .output {
  flex: auto;
}

.circle::before {
  content: "\25CF";
}
.circle.alive::before {
  color: orange;
}
.circle.alive.active::before {
  color: green;
}
.circle.dead::before {
  color: red;
}
