#file-editor {
  .file-editor {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

    form {
      margin: 0 auto;
      max-width: 550px;
      background-color: #353535;
      padding: 15px 20px;
    }
  }
}
