/**
 * Tree view
 */
#tree {
  width: 100%;
  display: table;
}
.tree,
.tree ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  font-size: small;
}
.tree li {
  margin: 0;
  padding: 2px 0 2px 12px;
  position: relative;
  font-size: 12px;
  white-space: nowrap;
  &.file {
    padding-left: 16px;
  }
}
.tree li a {
  text-decoration: none;
  cursor: pointer;
}
.tree li .expanded,
.tree li .collapsed {
  position: absolute;
  font-size: 7px;
  left: 4px;
  top: 6px;
  color: #666;
}

.tree span.name.icon.icon-file-text,
.tree span.name.icon.icon-file-directory {
  position: absolute;
  top: -5px;
}
.tree span.name.icon.icon-file-directory {
  position: absolute;
  top: 2px;
}
.tree .name.icon.icon-file-directory:before {
  color: #3A3A3A;
  content: '\e613';
  display: inline-block;
  font-family: 'icomoon';
  font-size: 13px;
  position: relative;
  top: -1px;
  left: 0;
}
.file-name {
  padding-left: 16px;
}
.dir-name {
  padding-left: 20px;
}
.name.icon {
  text-decoration: none;
}
.name.icon::before {
  width: 20px;
  display: inline-block;
  height: 20px;
}
.name.icon span {
  margin-left: 4px;
  color: lightgray;
  vertical-align: top;
}
.triangle-left {
  right: 0;
  position: absolute;
}
.triangle-left::before {
  content: "\25C0";
  color: #666;
}
