#recent {
  .list-group {
    margin-bottom: 0;
  }
}

#recent .close {
  cursor: pointer;
  visibility: hidden;
  font-weight: normal;
  font-size: 11px;
  position: absolute;
  right: 5px;
  z-index: 1;
}

#recent a:hover .close {
  visibility: visible;
}

#recent .list-group-item {
 padding: 8px 8px;
}

#recent .name.icon {
  top: 2px;
  position: absolute;
}

#recent .file-name {
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
